.what_and_why {
  min-height: 100vh;
  background-image: url("./../../assets/what_and_why_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10%;
}
.what_and_why .section {
  padding: 10% 0;
}
.what_and_why .heading {
  color: #fff;
  font-size: 80px;
  padding-top: 10%;
}

.what_and_why .description {
  color: #dadadc;
  font-size: 28px;
  font-weight: 500;
  line-height: 50.3px;
}
